<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <ul>
                {% if user.is_authenicated%}
                <li><a href="{% url 'posts:create' %}">Post</a></li>
                <li><a href="{% url 'groups:all' %}">Groups</a></li>
                <li><a href="{% url 'groups:create' %}">Create Groups</a></li>
                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>

                {% else%}
                <li><a href="#">Groups</a></li>
                <li><a href="{% url 'groups:all' %}"class="btn btn-simple">Groups</a></li>
                <li><a href="{% url 'accounts:login'%}">Login</a></li>
                <li><a href="{% url 'accounts:signup'%}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
<main>
    {% block content%}
{% endblock%}
</main>
</body>
</html>