{% extends "groups/group_base.html"%}

{% block pregroup%}
{% if user.is_authenicated%}
<h2>Welcome back 
<a href="{% url 'posts:for_user' username=user.username%}">@{{user.username}}</a>
</h2>
{%endif%}
<h2>Groups</h2>
<p>Welcome to the groups page</p>


{% if user.is_authenicated%}
<a href="{% url 'groups:create' %}">
    <span>Create New Group</span>
</a>

{% endif%}

{%endblock%}



{%block group_content%}
{% for group in object_list %}
<a href="{% url 'groups:single' slug=group.slug%}">

    <h3>{{group.name}}</h3>
    <div>
        {{group.description_html|safe}}
    </div>
    <div>
        <span>{{group.memebers.count}}</span>
        Memeber {{group.members.count|pluralize}}
    </div>
</a>
{% endfor%}

{%endblock%}
