{% extends "posts/post_base.html"%}

{%load bootstrap5%}


{% block pre_post_content%}
{% if request.user.is_authenticated%}
<div>
    {% for member_group in get_user_groups%}
    <li><a href="{% url 'groups:single' slug=member_group.group.slug%}"></a></li>

    {%endfor%}
</div>

{%endif%}
<div>
    <h5>All Groups</h5>
    <ul>
        {% for other_group in get_other_groups%}
        <li><a href="{% url 'groups:single' slug=other_group.slug%}"></a></li>
        {%endfor%}
    </ul>
</div>

{% endblock%}



{% block post_content%}
{% for post in post_list%}
{%include posts/_post.html%}


{% endfor%}
{% endblock%}




